@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --background: #000;
    --foreground: #383838;
    --active: #e5e5e5;
    --deactive: #a2a1a1;
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    --font-pixelify-sans: 'Pixelify Sans', sans-serif;
}

@theme {
    --color-background: #000;
    --color-foreground: #383838;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-active: var(--active);
    --color-deactive: var(--deactive);
    --font-display: var(--font-pixelify-sans);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a192f;
        --foreground: #e2e8f0;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 4px;
}

.rightpannel::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

.input {
    @apply bg-transparent border border-blue-500/30 transition-all rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 900px) {
  .container {
    padding: 8px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 4px;
  }
}


.selected {
    @apply bg-purple-600 text-white;
}
